<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>
<body>
    <a href="/">Back to list</a>
    <h1>Add channel</h1>
    <form action="/add" method="post">
        <div>
            <label for="name">Channel name:</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="email">Channel email:</label>
            <input type="email" name="email" id="email">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>